<app-todolist #todoList>
    <div form-content>
        <form class="mb-4 w-full max-w-xs flex items-center gap-4">
            <input [(ngModel)]="todoList.inputTodo" (keyup.escape)="todoList.inputTodo = ''" name="todo"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                type="text" placeholder="Add new todo">
            <button (click)="todoList.addTodo(todoList.inputTodo, todoList.todoList)"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Add</button>
        </form>
    </div>
    <div new-todo-list>
        <ul class="flex flex-col justify-between">
            <!-- new syntax ng-content -->
            @for (todo of todoList.todoList; track todo.id) {
            <li (click)="todoList.setDone(todo.id)"
                class="flex items-center justify-between bg-white px-4 py-2 my-2 shadow {{todo.completed ? 'line-through' : ''}}">
                {{todo.todo}}
                <button (click)="todoList.deleteTodo(todo.id)" class="text-red-500 hover:text-red-700">Delete</button>
            </li>
            }
        </ul>
    </div>
    <div old-todo-list class="flex flex-col justify-between h-full">
        <h1 class="text-center">Old Syntax</h1>
        <ul class="flex flex-col justify-between">
            <!-- old syntax ng-content-->
            <li *ngFor="let todo of todoList.todoList; " class="flex items-center justify-between bg-white px-4 py-2 my-2 shadow {{todo.completed ? 'line-through' : ''}}">
                {{todo.todo}}
                <button (click)="todoList.deleteTodo(todo.id)" class="text-red-500 hover:text-red-700">Delete</button>
            </li>
        </ul>
    </div>
</app-todolist>