<div class="flex h-screen flex-col">
    <!-- Top menu row -->
    <div class="flex justify-between space-x-2 p-1">
        @if (layoutConfig.newMenu) {
        <ng-content select="[menu]"></ng-content>
        } @else {
        <div class="flex-grow rounded bg-white px-4 py-2 text-center shadow">
            <ng-content select="[menu-item1]"></ng-content>
        </div>
        <div class="flex-grow rounded bg-white px-4 py-2 text-center shadow">
            <ng-content select="[menu-item2]"></ng-content>
        </div>
        <div class="flex-grow rounded bg-white px-4 py-2 text-center shadow">
            <ng-content select="[menu-item3]"></ng-content>
        </div>
        }
    </div>

    <!-- Main content area -->
    <div class="grid flex-1 grid-cols-12 gap-1 overflow-auto p-1">
        @if (layoutConfig.newRow1) {
        <ng-content select="[box]"></ng-content>
        } @else {
        <div class="col-span-12 rounded bg-white p-2 shadow md:col-span-3">
            <ng-content select="[row1]"></ng-content>
        </div>
        <div class="col-span-12 rounded bg-white p-2 shadow md:col-span-6">
            <ng-content select="[box2]"></ng-content>
        </div>
        <div class="col-span-12 rounded bg-white p-2 shadow md:col-span-3">
            <ng-content select="[box3]"></ng-content>
        </div>
        } @if (layoutConfig.newRow2) {
        <ng-content select="[row2]"></ng-content>
        } @else {

        <div class="col-span-12 rounded bg-white p-2 shadow md:col-span-4">
            <ng-content select="[box4]"></ng-content>
        </div>
        <div class="col-span-12 rounded bg-white p-2 shadow md:col-span-4">
            <ng-content select="[box5]"></ng-content>
        </div>
        <div class="col-span-12 rounded bg-white p-2 shadow md:col-span-4">
            <ng-content select="[box6]"></ng-content>
        </div>
        } @if (layoutConfig.newRow3) {
        <ng-content select="[row3]"></ng-content>
        } @else {

        <div class="col-span-6 rounded bg-white p-2 shadow md:col-span-2">
            <ng-content select="[box7]"></ng-content>
        </div>
        <div class="col-span-6 rounded bg-white p-2 shadow md:col-span-2">
            <ng-content select="[box8]"></ng-content>
        </div>
        <div class="col-span-6 rounded bg-white p-2 shadow md:col-span-2">
            <ng-content select="[box9]"></ng-content>
        </div>
        <div class="col-span-6 rounded bg-white p-2 shadow md:col-span-2">
            <ng-content select="[box10]"></ng-content>
        </div>
        <div class="col-span-6 rounded bg-white p-2 shadow md:col-span-2">
            <ng-content select="[box11]"></ng-content>
        </div>
        <div class="col-span-6 rounded bg-white p-2 shadow md:col-span-2">
            <ng-content select="[box12]"></ng-content>
        </div>
        }
    </div>

    <!-- Footer area -->
    <div class="grid grid-cols-3 gap-2 p-1">
        @if (layoutConfig.newFooter) {
        <ng-content select="[footer]"></ng-content>
        }@else {

        <div class="rounded bg-white px-4 py-2 text-center shadow">
            <ng-content select="[footer-item1]"></ng-content>
        </div>
        <div class="rounded bg-white px-4 py-2 text-center shadow">
            <ng-content select="[footer-item2]"></ng-content>
        </div>
        <div class="rounded bg-white px-4 py-2 text-center shadow">
            <ng-content select="[footer-item3]"></ng-content>
        </div>
        }
    </div>
</div>
