<div class="flex items-center justify-between">
    <ng-content select="[left-item]" />
    <div class="hidden md:block">
        <div class="ml-10 flex items-baseline space-x-4">
            <a
                href="#"
                class="px-3 py-2 rounded-md text-sm font-medium text-gray-900 hover:text-gray-900 hover:bg-gray-50"
                >Dashboard</a
            >
            <a
                href="#"
                class="px-3 py-2 rounded-md text-sm font-medium text-gray-900 hover:text-gray-900 hover:bg-gray-50"
                >Team</a
            >
            <a
                href="#"
                class="px-3 py-2 rounded-md text-sm font-medium text-gray-900 hover:text-gray-900 hover:bg-gray-50"
                >Projects</a
            >
            <a
                href="#"
                class="px-3 py-2 rounded-md text-sm font-medium text-gray-900 hover:text-gray-900 hover:bg-gray-50"
                >Calendar</a
            >
        </div>
    </div>
</div>
