<div id="layout-root" class="flex h-screen flex-col bg-cover bg-transparent">
    <!-- Top menu row -->
    <div class="flex justify-between space-x-2 p-1">
        @if (layoutConfig.newMenu) {
        <ng-content select="[menu]"></ng-content>
        } @else {
        <div class="flex-grow rounded px-4 py-2 text-center shadow">
            <ng-content select="[menu-item1]"></ng-content>
        </div>
        <div class="flex-grow rounded px-4 py-2 text-center shadow">
            <ng-content select="[menu-item2]"></ng-content>
        </div>
        <div class="flex-grow rounded px-4 py-2 text-center shadow">
            <ng-content select="[menu-item3]"></ng-content>
        </div>
        }
    </div>

    <!-- Main content area -->
    <div class="flex flex-1 gap-1 overflow-auto p-1">
        @if (layoutConfig.leftSidebar.display) {
        <div
            class="relative rounded shadow transition-width duration-300 ease-in-out flex flex-col items-center overflow-hidden group"
            (mouseenter)="onMouse($event)"
            (mouseleave)="onMouse($event)"
            [ngClass]="{
                'md:!w-[calc(0.4/12*100%)]': layoutConfig.leftSidebar.collapsed,
                'md:w-[calc(2/12*100%)]': layoutConfig.leftSidebar.collapsed,
                'md:w-[calc(2/12*100%)]': layoutConfig.leftSidebar.isHovering
            }"
            >
            <!-- 'hover:md:w-[calc(2/12*100%)]': layoutConfig.leftSidebar.keepCollapsedState && layoutConfig.leftSidebar.collapsed, -->
            <!-- <button
                (click)="toggleLeftSidebar()"
                class="bg-slate-800 group-hover:opacity-100 text-slate-900/50 rounded-full transition-opacity group-hover:delay-75 group-hover:duration-300 duration-200 transform w-8 h-8 absolute top-2 right-2"
                [ngClass]="{
                    'opacity-0': layoutConfig.leftSidebar.collapsed,
                }"
            >
            </button> -->
            <div class="flex w-full justify-between bg-slate-300">
                <button
                    (click)="toggleKeepLeftSidebar()"
                    class="bg-slate-200/50 group-hover:opacity-100 text-slate-900/80 transition-opacity group-hover:delay-75 group-hover:duration-200 duration-300 transform h-6"
                >
                    @if (layoutConfig.leftSidebar.keepCollapsedState) {
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="-5 -2 24 24"
                        width="24"
                        class="ml-auto p-1"
                        fill="currentColor"
                    >
                        <path
                            d="M12 10a2 2 0 0 1 2 2v6a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-6a2 2 0 0 1 2-2V5a5 5 0 1 1 10 0v5zm-5 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-7V5a3 3 0 1 0-6 0v5h6z"
                        ></path>
                    </svg>
                    } @else {
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="-5 -2 24 24"
                        class="ml-auto p-1"
                        width="24"
                        fill="currentColor"
                    >
                        <path
                            d="M12 5h-2a3 3 0 1 0-6 0v5h8a2 2 0 0 1 2 2v6a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-6a2 2 0 0 1 2-2V5a5 5 0 1 1 10 0zM7 17a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"
                        ></path>
                    </svg>
                    }
                </button>
                <button
                    (click)="toggleLeftSidebar()"
                    class="bg-slate-200/50 group-hover:opacity-100 text-slate-900/80 transition-opacity group-hover:delay-75 group-hover:duration-200 duration-300 transform h-6"
                >
                    @if (!layoutConfig.leftSidebar.collapsed) {
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="-5 -5 24 24"
                        width="24"
                        fill="currentColor"
                    >
                        <path
                            d="M12,0 C13.1045695,0 14,0.8954305 14,2 L14,3 C14,3.55228475 13.5522847,4 13,4 C12.4477153,4 12,3.55228475 12,3 L12,2 L6,2 L6,12 L12,12 L12,11 C12,10.4477153 12.4477153,10 13,10 C13.5522847,10 14,10.4477153 14,11 L14,12 C14,13.1045695 13.1045695,14 12,14 L2,14 C0.8954305,14 0,13.1045695 0,12 L0,2 C0,0.8954305 0.8954305,0 2,0 L12,0 Z M4,10 L2,10 L2,12 L4,12 L4,10 Z M10,4 C10.5522847,4 11,4.44771525 11,5 L11,6 L12,6 C12.5522847,6 13,6.44771525 13,7 C13,7.55228475 12.5522847,8 12,8 L11,8 L11,9 C11,9.55228475 10.5522847,10 10,10 C9.44771525,10 9,9.55228475 9,9 L9,8 L8,8 C7.44771525,8 7,7.55228475 7,7 C7,6.44771525 7.44771525,6 8,6 L9,6 L9,5 C9,4.44771525 9.44771525,4 10,4 Z M4,6 L2,6 L2,8 L4,8 L4,6 Z M4,2 L2,2 L2,4 L4,4 L4,2 Z"
                        ></path>
                    </svg>
                    } @else {
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="-5 -5 24 24"
                        width="24"
                        fill="currentColor"
                    >
                        <path
                            d="M8,12 L8,2 L2,2 L2,3 C2,3.55228475 1.55228475,4 1,4 C0.44771525,4 0,3.55228475 0,3 L0,2 C0,0.8954305 0.8954305,0 2,0 L12,0 C13.1045695,0 14,0.8954305 14,2 L14,12 C14,13.1045695 13.1045695,14 12,14 L2,14 C0.8954305,14 0,13.1045695 0,12 L0,11 C0,10.4477153 0.44771525,10 1,10 C1.55228475,10 2,10.4477153 2,11 L2,12 L8,12 Z M10,12 L12,12 L12,10 L10,10 L10,12 Z M12,8 L12,6 L10,6 L10,8 L12,8 Z M12,4 L12,2 L10,2 L10,4 L12,4 Z M3,6 L3,5 C3,4.44771525 3.44771525,4 4,4 C4.55228475,4 5,4.44771525 5,5 L5,6 L6,6 C6.55228475,6 7,6.44771525 7,7 C7,7.55228475 6.55228475,8 6,8 L5,8 L5,9 C5,9.55228475 4.55228475,10 4,10 C3.44771525,10 3,9.55228475 3,9 L3,8 L2,8 C1.44771525,8 1,7.55228475 1,7 C1,6.44771525 1.44771525,6 2,6 L3,6 Z"
                        ></path>
                    </svg>
                    }
                </button>
            </div>

            <ng-content select="[left-sidebar]"></ng-content>
        </div>
        }

        <div class="flex-grow rounded p-2 shadow md:col-span-4">
            <ng-content select="[content-left]"></ng-content>
        </div>
        <div class="flex-grow rounded p-2 shadow md:col-span-4">
            <ng-content select="[content-right]"></ng-content>
        </div>
        @if (layoutConfig.rightSidebar.display) {
        <div
            class="relative rounded p-2 shadow transition-width duration-300 ease-in-out flex flex-col items-center hover:md:w-[calc(2/12*100%)] overflow-hidden"
            [ngClass]="{
                'md:w-[calc(0.4/12*100%)]': layoutConfig.rightSidebar.collapsed,
                'md:min-w-[calc(2/12*100%)]':
                    !layoutConfig.rightSidebar.collapsed
            }"
        >
            <ng-content select="[right-sidebar]"></ng-content>
        </div>
        }
    </div>

    <!-- Footer area -->
    <div class="grid grid-cols-3 gap-2 p-1">
        @if (layoutConfig.newFooter) {
        <ng-content select="[footer]"></ng-content>
        }@else {

        <div class="rounded px-4 py-2 text-center shadow">
            <ng-content select="[footer-item1]"></ng-content>
        </div>
        <div class="rounded px-4 py-2 text-center shadow">
            <ng-content select="[footer-item2]"></ng-content>
        </div>
        <div class="rounded px-4 py-2 text-center shadow">
            <ng-content select="[footer-item3]"></ng-content>
        </div>
        }
    </div>
</div>
